name: Test Documentation Build

on:
  pull_request:
    paths:
      - 'website/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
        working-directory: website
      - run: npm run build
        working-directory: website
